body{
    background-color: aquamarine;
    font-size: 50px;
    text-align: center;
}

div.bingo-struct{
    font-weight:bold;

}

div.choose-number{
    width: 90%;
    text-align: center;    
    margin: auto;
    word-wrap: break-word;
}

a#allNo{
    margin: 0px 50px;
    line-break: strict;
    display: block;
}

#btn {
    font-size: 50px;
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    background: #00BCD4;/*背景色*/
    color: rgb(6, 52, 58);/*=背景色*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2);
    border-bottom: solid 2px #118e9e;
    border-radius: 4px;
    font-weight: bold;
    text-shadow: -1px -1px rgba(255, 255, 255, 0.44), 1px 1px rgba(0, 0, 0, 0.38);
    margin-bottom: 10pt;
  }
  
#btn:active {
    /*押したとき*/
    border-bottom: solid 2px #00BCD4;
    box-shadow: none;
    text-shadow: -1px -1px rgba(255, 255, 255, 0.3), 1px 1px rgba(0, 0, 0, 0.3);
  }
  #btn:disabled {
    background: rgb(210, 238, 241);/*背景色*/
    border-bottom: solid 2px rgb(12, 31, 34);
    box-shadow: none;
    color: #fff; 
    text-shadow: -1px -1px rgba(255, 255, 255, 0.3), 1px 1px rgba(0, 0, 0, 0.3);
  }
  
  #container {
	height: 100%;
	width: 75%;/*中央の幅の指定*/
	margin: 0 auto;
    background: #fff;/*中央の背景を白にする指定*/
}

p.result-number-font {
    font-weight:bold;
    background: linear-gradient(transparent 30%, rgb(131, 255, 162) 30%);
  }
div.CrntNo{
    font-size: 70px;
    margin-bottom: 0px;
}
p.label{
    margin-bottom: 0px;
    margin-top: 0px;
}